include ../layout
    link(rel='stylesheet', href='/stylesheets/style.css')

    div.content.row
        div.col-md-4.mx-auto
            h1.title Sign in
            form(action="/account/signin", method="post")
                div.form-group
                    label(for="email") E-mail
                    input.form-control(type="text", id="email", name="email")
                div.form-group
                    label(for="password") Password
                    input.form-control(type="password", id="password", name="password")

                if error
                    div.alert.alert-danger 
                        each message in messages
                            p #{message}

                div.d-flex.justify-content-between.pt-2
                    a(href="/account/signup")
                        button.btn.btn-outline-secondary(type="button") Sign up
                    input(type="hidden", name="_csrf", value=csrfToken)
                    button.btn.btn-primary(type="submit") Sign in