nav.navbar.fixed-top.navbar-expand-sm.navbar-light.bg-light(style="border-bottom: 1px solid #818589")
    a.navbar-brand(href="/") Possibly Socks

    button.navbar-toggler(type="button", data-target="#menu", data-toggle="collapse", aria-expanded="false", aria-controls="menu", aria-label="Menu")
        span.navbar-toggler-icon

    div#menu.collapse.navbar-collapse
        div.navbar-nav.ml-auto
            a.nav-link(href="/category") Categories
            a.nav-link(href="/brand") Brands

            if session
                if session.cart
                    a.nav-link(href="/cart") Cart (#{session.cart.quantity})

            if loggedIn
                a.nav-link(href="/account/logout") Log out
            else
                a.nav-link(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Sign in
                
                div.dropdown-menu.dropdown-menu-right(aria-labelledby="navbar-dropdown")
                    form.px-4.py-3(action="/account/signin", method="post")
                        div.form-group
                            label(for='email') E-mail
                            input#email.form-control(type='email', name='email', placeholder='email@example.com')

                        div.form-group
                            label(for='password') Password
                            input#password.form-control(type='password' name='password', placeholder='password')

                        input(type="hidden", name="_csrf", value=csrfToken)
                        button.btn.btn-block.btn-primary(type='submit') Sign in

                        div.dropdown-divider

                        a(href="/account/signup")
                            button.btn.btn-block.btn-outline-primary(type="button") Sign up