extends layout

block content

  link(rel='stylesheet', href='/stylesheets/brands.css')
  
  div.container
    div.row
      div.col-lg-4
        img.brand-image(src="/images/possibly_socks.jpg")

        h2 Possibly Socks
        p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        a.btn.btn-secondary(href='#' role='button') View more &raquo;
        
      div.col-lg-4
        img.brand-image(src="/images/happy_socks.jpg")

        h2 Happy Socks
        p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        a.btn.btn-secondary(href='#' role='button') View more &raquo;
        
      div.col-lg-4
        img.brand-image(src="/images/scott_nichol_socks_square.jpg")

        h2 Scott-Nichol
        p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        a.btn.btn-secondary(href='#' role='button') View more &raquo;
        