extends layout

block content

  link(rel='stylesheet', href='/stylesheets/index.css')

  div#carousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carousel' data-slide-to='0')
      li(data-target='#carousel' data-slide-to='1')
      li(data-target='#carousel' data-slide-to='2')

    div.carousel-inner.bg-light
      div.carousel-item.active
        img.carousel-image(src="/images/businessmen_socks_cropped.jpg")
        div.container
          div.carousel-caption.text-left
            h1 Possibly Socks.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa vitae tortor condimentum lacinia quis.
            a.carousel-button.btn.btn-lg.btn-default(href='#' role='button') Shop now

      div.carousel-item
        img.carousel-image(src="/images/beach_socks_cropped.jpg")
        div.container
          div.carousel-caption.text-left
            h1 Happy Socks.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus scelerisque eleifend donec pretium.
            a.carousel-button.btn.btn-lg.btn-default(href='#' role='button') View more

      div.carousel-item
        img.carousel-image(src="/images/sitting_socks_cropped.jpg")
        div.container
          div.carousel-caption.text-left
            h1 Scott-Nichol.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus eget nunc scelerisque viverra mauris in aliquam sem.
            a.carousel-button.btn.btn-lg.btn-default(href='#' role='button') Browse socks

    a.carousel-control-prev(href='#carousel' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')

    a.carousel-control-next(href='#carousel' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      

  div.container.marketing
    div.row

      each brand in brands
      
        div.col-lg-4
          a(href="/brand/" + brand.name)
            img.brand-image(src=brand.thumbnail)
          h2 #{brand.name}
          p #{brand.short_description}
