.title {
    margin: 0em 0em 1em 0.5em;
    font-size: 1.6 em;
    font-weight: 400;
}

.product-title {
    font-size: 1.2em;
}

.product-price {
    float: right;
    text-align: right;
    font-size: 1.2em;
}

.product-quantity {
    font-size: 1.2em;
}