body {
    margin-top: 3.5em;
}

.content {
    padding-top: 6em;
}

.title {
    font-weight: 300;
}

.path {
    margin: 5em 0em 2em 0em;
}

.error {
    text-align: right;
    font-weight: 400;
}

.nav-link {
    margin-left: 2em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #CCCCCC !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #CCCCCC !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #CCCCCC !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #CCCCCC !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #CCCCCC !important;
}
::placeholder { /* Most modern browsers support this now. */
   color:    #CCCCCC !important;
}